 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; font-size: 0; height: 0; }
 a { color: #000000; text-decoration: none; }
 a:hover { color: #b3b3b3; text-decoration: none; }
 body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFf; margin: 0; background: url(theme/beige005.jpg?1751433639); }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 h1, h2, h3, h4 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #444; }
 h1 { font-size: 32px; line-height: 1; font-weight: normal; }
 h2, h3 { line-height: 1.2; padding-bottom: 0px; }
 h2 { padding: .3em 0; }
 h4 { font-size: 14px; line-height: 1.2; margin-bottom: 1px; }
 .container { width: 1200px; margin: 0px auto; }
 #header-wrap, #navigation-wrap, #banner-wrap, #main-wrap, #footer-wrap { min-width: 1100px; }
 #header, #navigation, #banner, #main, #footer { width: 1100px; margin: 0px auto; }
 #header-wrap { background: url(theme/brown040.jpg?1751433639); width: 1200px; margin: 0px auto; border-top: 5px solid #421111; border-left: 5px solid #421111; border-right: 5px solid #421111; border-bottom: 5px solid #421111; }
 #header { line-height: 1; padding: 0 }
 #header a { color: #8B4513; }
 #header a:hover { color: #834513; }
 #navigation-wrap { background: url(theme/brown040.jpg?1751433639); width: 1100px; margin: 5px auto; }
 #navigation { line-height: 1; padding: 0px 0px 0px; }
 #navigation ul { }
 #navigation li { float: left; position: relative; padding: 0px 10px 0px 7px; }
 #navigation li:hover, #navigation li#active { background: url(theme/nav-l.png?1751433639) no-repeat; padding: 0px 10px 0px 7px; }
 #navigation li a { float: left; display: block; border-top: 2px solid #421111; border-left: 2px solid #421111; border-right: 2px solid #421111; border-bottom: 2px solid #421111; color: #ffffff; font-size: 14px; text-decoration: none; padding: 0px 10px 0px 7px; }
 #navigation li a:hover, #navigation li:hover a, #navigation li#active a { color: #000000; border: 2px; background: url(theme/beige005.jpg?1751433639) !important; border-top: 2px solid #421111; border-left: 2px solid #421111; border-right: 2px solid #421111; border-bottom: 2px solid #421111; }
 #wsite-menus .wsite-menu li a { padding: 7px; color: #ffffff; background: url(theme/brown040.jpg?1751433639) !important; border-top: 2px solid #421111; border-left: 2px solid #421111; border-right: 2px solid #421111; border-bottom: 2px solid #421111;; }
 #wsite-menus .wsite-menu li a:hover { font-weight: bold; color: #000000; background: url(theme/beige005.jpg?1751433639) !important; border-top: 2px solid #421111; border-left: 2px solid #421111; border-right: 2px solid #421111; border-bottom: 2px solid #421111; border-bottom: 2px solid #1d3c2e; }
 #header { width: 100%; height: 70px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 0px 0 0px 0; }
 #logo, #logo a { font-family: Arial, Helvetica, sans-serif; font-size: 26px; line-height: 1; font-weight: normal; color: #fffff; text-decoration: none; }
 #header-right { padding: 0 0 0 0px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #fff; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-align: right; font-size: 13px; display: block; white-space: nowrap; margin: 0 0 0 10px; }
 # --------------------------------------------------------------------------------*/ #footer-wrap { }
 #footer { width: 1200px; padding: 25px 20px 30px; font-family: Arial, Helvetica, sans-serif; color: #333; font-size: 13px; text-align: right; }
 }
 .rights { line-height: 18px; vertical-align: middle; }
 .wsite-footer { margin-bottom: 15px; }
 #footer h2 { font-size:18px; border-bottom: 2px solid #ccc; }
 .wsite-form-container { margin-top:0px !important; text-align:left !important; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; }
 .wsite-footer .wsite-form-field { width:320px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; }
 .wsite-footer .wsite-form-input { font-size: 1em !important; width: 100% !important; background-color:#fff; }
 .wsite-footer .form-select { width: 100% !important; background-color:#fff; }
 #main-wrap { background: url(theme/main-bot.png?1751433639) center bottom no-repeat; padding: 0 0 0px; }
 #main { width: 1200px; background: url(theme/main-top.png?1751433639) center top no-repeat; }
 #main-in { background: #FFF; border-top: 5px solid #631919; border-left: 5px solid #631919; border-right: 5px solid #631919; border-bottom: 5px solid #631919; }
 #banner { position: relative; }
 #tl, #tr, #bl, #br { position: absolute; display: block; font-size: 0; width: 10px; height: 10px; }
 #tl { top: -1px; left: -1px; background: url(theme/tl.png?1751433639) no-repeat; }
 #tr { top: -1px; right: -1px; background: url(theme/tr.png?1751433639) no-repeat; }
 #bl { bottom: 0; left: -1px; background: url(theme/bl.png?1751433639) no-repeat; }
 #br { bottom: -1px; right: -1px; background: url(theme/br.png?1751433639) no-repeat; }
 .wsite-header { }
 #content { min-height: 350px; padding: 20px 15px 1px; }
 .tall-header-page .wsite-header { height: 0px; background: url(theme/banner-tall.jpg?1751433639) no-repeat; }
 .short-header-page .wsite-header { height: 0px; background: url(theme/banner-short.jpg?1751433639) no-repeat; }
 .no-header-page #header { }
 .no-header-page #main { padding-top: 0px; }
 .no-header-page #banner { display: none; }
 .no-header-page #content { padding-top: 0px; }
 .landing-page #main { padding-top: 1px; }
 .landing-page #banner { margin-bottom: 25px; }
 .landing-page #content { padding-top: 10px; }
 .landing-page #navigation-wrap { margin: 0 0 0px; }
 #banner-inner { background: #efefef; }
 #banner-left { float: left; width: 550px; position: relative; }
 #banner-left .wsite-header { height: 340px; background: url(theme/banner-landing.jpg?1751433639) no-repeat; }
 #banner-right { float: right; width: 340px; padding: 60px 40px 0 0; }
 #banner-right h2 { color: #444; font-size: 26px; padding-bottom: 0px; }
 #banner-right div.paragraph { color: #444; font-size: 14px; padding-bottom: 0px; }
 #banner-right p { color: #444; font-size: 14px; padding-bottom: 0px; }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
blockquote { margin: 10px 0; padding-left: 20px; border-left: 4px solid #ddd; font-style: italic; line-height: 170%; }